* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.goog-te-banner-frame.skiptranslate {
  display: none !important;
}
body {
  top: 0px !important;
}
body > .skiptranslate {
  display: none !important;
}